<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul>
        <app-premier *ngFor="let PostListItemComponent of PostListComponent" 
                      [postTitle] = "PostListItemComponent.title"
                      [postContent] = "PostListItemComponent.content"
                      [postLoveIts] = "PostListItemComponent.loveIts"
                      [postDate] = "PostListItemComponent.created_at"></app-premier>
      </ul>
    </div>
  </div>
</div>
