<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLike > '0',
                'list-group-item-danger': postLike < '0'}">

  <div class="row">
    <div class="col-xs-6">
      <h3> {{ postTitle }} </h3>
    </div>
    <div class="col-xs-6 text-right text-muted">
      <p> {{ postDate | date: 'short' | uppercase}} </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p> {{ postContent }} </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <button class="btn btn-success" (click)="loveIts()">Love It's</button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-danger" (click)="dontLove()" style="margin-left:10px">Don't Love It</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <p> Score: <span *ngIf="postLike>0">+</span> {{ postLike }} </p>
    </div>
  </div>

</li>