<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLike > '0',
                'list-group-item-danger': postLike < '0'}">
  <h3>{{ postTitle }}</h3>
  <p>Date de création: {{ postDate | date: 'short' }} </p>
  <p>
    {{ postContent }}
  </p>
  <button class="btn btn-success" (click)="loveIts()">Love It's</button>
  <button class="btn btn-danger" (click)="dontLove()" style="margin-left:10px">Don't Love It</button>
  <p>
  	Score: <span *ngIf="postLike>0">+</span>{{postLike }} 
  </p>
</li>
