<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': like > '0',
                'list-group-item-danger': like < '0'}">
  <h3>{{ titre }}</h3>
  <p>Date de création: {{ date | date: 'short' }} </p>
  <p>
    {{ contenu }}
  </p>
  <button class="btn btn-success" (click)="loveIts()">Love It's</button>
  <button class="btn btn-danger" (click)="dontLove()" style="margin-left:10px">Don't Love It</button>
  <p>
  	Score: <span *ngIf="like>0">+</span>{{ like }} 
  </p>
</li>
